<body>
    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span
                    class="w3-hide-small">MOVIE</span> APP</span>
        </div>
    </div>

    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center">ABOUT THE APP</h3>
        <p class="w3-center"><em>I'm learning Angular</em></p>
        <p>Welcome to my little corner of the web! I'm thrilled to share my journey as a student and now, as a budding
            web developer. I've recently embarked on a new adventure: learning Angular.</p>
        <p> Exploring Angular has been an exhilarating experience, diving deep into its intricacies and functionalities.
            From understanding components to mastering data binding, every step feels like unlocking a new realm of
            possibilities. And what better way to solidify my grasp on this framework than by putting it to the test?
        </p>
        <p> That's where my latest project comes in—a basic movie application. Leveraging my newfound Angular skills,
            I've crafted an intuitive platform where fellow cinephiles can explore, discover, and even rate their
            favorite films. It's been a challenging yet immensely rewarding endeavor, seeing my vision come to life
            through lines of code and creative design.
        </p>
        <p> Join me on this journey of discovery and creation, where every click and keystroke brings us closer to
            realizing the full potential of Angular and unleashing the magic of cinema in a digital realm. Together,
            let's capture not just moments in time, but the essence of storytelling through technology.
        </p>
    </div>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">{{totalMovies}}</span><br>
            Movies
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">50+</span><br>
            Genres
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">1896</span><br>
            Oldest Movie
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">2016</span><br>
            Newest Movie
        </div>
    </div>

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ALL <span
                    class="w3-hide-small">MOVIES</span></span>
        </div>
    </div>

    <app-movie-list></app-movie-list>

    <!-- Third Parallax Image with Portfolio Text -->
    <div class="bgimg-3 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SUBMIT <span
                    class="w3-hide-small">MOVIES</span></span>
        </div>
    </div>
    <app-movie-create></app-movie-create>
    <router-outlet></router-outlet>
</body>